<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/squirrelly@7.9.2/dist/squirrelly.min.js"></script>
  <!-- IPS Specific Custom CSS-->
  <link rel="stylesheet" href="/view/assets/css/custom.css">
  <link rel="stylesheet" href="/global.css">

  <!-- IPS Rendering -->
  <script type="module" src="/view/assets/js/renderIPS.js"></script>
  <script type="module" src="/view/assets/js/retreiveIPS.js"></script>
  

  <title>My Choices Report Viewer</title>
</head>

<body>
  <div id="content" style="display:none; padding: auto; margin:auto" class="main container-fluid">
    <div id="error" style="padding-left: 17px; display: none;">
      <header id="header">
        <img id="logo" class="logo" alt="Let's Talk Tech Logo" src="/img/ltt-logo.svg" width="240px">
      </header>
      <div class="row d-flex justify-content-center mt-4 pt-5">
        <p style="text-align:center">The link to this Let's Talk Tech report is no longer available. It may have been replaced with a newer one.</p>
        <p style="text-align:center">If you are the creator of the report, click below to log in and view your report:</p>
      </div>
      <div class="row d-flex justify-content-center mb-3">
        <a href="/share"><button class="btn btn-primary">Login to Let's Talk Tech</button></a>
      </div>
      <div class="row d-flex justify-content-center">
        <p style="text-align:center">If someone shared this report with you, contact them for a new link.</p>
      </div>
    </div>
    <div id="ips-loader" class="row" style="display: none;">
      <div style="margin-left: 38px;" class="row">
        <p id="status">Retrieving contents...</p>
      </div>
      <span class="loader"></span>
    </div>
    <div id="rendered-ips" class="ml-4 mt-0 ml-sm-4 mt-sm-4">
    </div>
  </div>
  </div>
  </body>

</html>