<div class="card">
    <a href="#" data-toggle="collapse" data-target="#allergies-body" aria-expanded="true" class="section-header">
        <header class="card-header">
            <i class="icon-action fa fa-chevron-down"></i>
            <span class="title"><b>Allergies and Intolerances</b></span>
        </header>
    </a>
    <div class="card-body collapse show" id="allergies-body">
        <ul class="list-group">
        {{each(options.allergies)}}
            <li class="list-group-item">
            {{if(@this.criticality)}}
                {{if(@this.criticality === "high")}}
                    <span class="badge badge-danger">
                {{#else}}
                    <span class="badge badge-primary">
                {{/if}}
            {{#else}}
                <span class="badge badge-secondary">
            {{/if}}
            {{@this.type}} - {{@this.category[0]}} - Criticality: {{@this.criticality}}
            </span>
            {{if(@this.code && @this.code.coding)}}
            <br>
                {{@this.code.coding[0].display}} ({{@this.code.coding[0].code}})
            <br>
            {{/if}}
            </li>
        {{/each}}
        </ul>
    </div>
</div>