<div class="card">
    <a href="#" data-toggle="collapse" data-target="#composition-body" aria-expanded="true" class="section-header">
        <header class="card-header">
            <i class="icon-action fa fa-chevron-down"></i>
            <span class="title"><b>Document (Composition)</b></span>
        </header>
    </a>
    <div class="card-body collapse show" id="composition-body">
        <h5 class="card-title">{{title}}</h5>
        <!-- <p class="card-text">
            Summary Date: {{date}}
            <br>
        </p> -->
    </div>
</div>