<div class="card">
    <a href="#" data-toggle="collapse" data-target="#odh-body" aria-expanded="true" class="section-header">
        <header class="card-header">
            <i class="icon-action fa fa-chevron-down"></i>
            <span class="title"><b>History of Occupation</b></span>
        </header>
    </a>
    <div class="card-body collapse show" id="odh-body">
        <ul class="list-group">
        {{if(options.odh.status.length)}}
            <li class="list-group-item">
                <b>Employment Status</b>
                <br>
                {{each(options.odh.status)}}
                    {{@this.valueCodeableConcept.coding[0].display}}
                    {{if(@this.effectivePeriod)}}
                    {{if(@this.effectivePeriod.end)}}
                        {{@this.effectivePeriod.start}} - {{@this.effectivePeriod.end}}
                    {{#else}}
                        since {{@this.effectivePeriod.start}}
                    {{/if}}
                    {{/if}}
                {{/each}}
            </li>
        {{/if}}
        {{if(options.odh.retirement.length)}}
            <li class="list-group-item">
                <b>Retirement Date</b>
                {{each(options.odh.retirement)}}
                    {{@this.valueDateTime}}
                {{/each}}
            </li>
        {{/if}}
        {{if(options.odh.combat.length)}}
            <li class="list-group-item">
                <b>Combat/Hazard Exposure</b>
                <br>
                {{each(options.odh.combat)}}
                    {{@this.valuePeriod.start}} - {{@this.valuePeriod.end}}
                {{/each}}
            </li>
        {{/if}}
        {{if(options.odh.usual.length)}}
            <li class="list-group-item">
                <b>Usual Work</b>
                {{each(options.odh.status)}}
                    {{if(@this.effectivePeriod.end)}}
                        {{@this.effectivePeriod.start}} - {{@this.effectivePeriod.end}}
                    {{#else}}
                        Since {{@this.effectivePeriod.start}}
                    {{/if}}
                    <table>
                    {{each(@this.component)}}
                    <td>
                        {{if(@this.valueCodeableConcept)}}
                            {{@this.valueCodeableConcept.coding[0].display}}
                        {{/if}}
                        {{if(@this.valueQuantity)}}
                            {{@this.valueQuantity.value}} 
                            {{if(@this.valueQuantity.unit)}}
                                ({{@this.valueQuantity.unit}})
                            {{/if}}
                        {{/if}}
                        {{if(@this.valueString)}}
                            {{@this.valueString}}
                        {{/if}}
                    </td>
                    {{/each}}
                    </table>
                {{/each}}
            </li>
        {{/if}}
        {{if(options.odh.history.length)}}
        <li class="list-group-item">
            <p><b>Employment History</b></p>
            <div style="overflow-x:auto;">
                <table class="table table-bordered table-sm">
                <!-- <tr><th colspan="9">Employment History</th></tr> -->
                {{each(options.odh.history)}}
                    <tr>
                        <td>
                            {{if(@this.effectivePeriod.end)}}
                                {{@this.effectivePeriod.start}} - {{@this.effectivePeriod.end}}
                            {{#else}}
                                Since {{@this.effectivePeriod.start}}
                            {{/if}}
                        </td>
                        <td>
                            {{if (@this.valueCodeableConcept && @this.valueCodeableConcept.coding.length)}}
                                {{@this.valueCodeableConcept.coding[0].display}}
                            {{/if}}
                        </td>
                        {{each(@this.component)}}
                        <td>
                            {{if(@this.valueCodeableConcept)}}
                                {{@this.valueCodeableConcept.coding[0].display}}
                            {{/if}}
                            {{if(@this.valueQuantity)}}
                                {{@this.valueQuantity.value}}{{if(@this.valueQuantity.unit)}}{{@this.valueQuantity.unit}}{{/if}}{{if(@this.code.coding[0].code === "74160-3")}}/week{{/if}}{{if(@this.code.coding[0].code === "87512-0")}}/day{{/if}}
                            {{/if}}
                            {{if(@this.valueString)}}
                                {{if(@this.code.coding[0].code === "87729-0")}}Hazard: {{/if}}{{@this.valueString}}
                            {{/if}}
                        </td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </table>
            </div>
        </li>
        {{/if}}

        </ul>
    </div>
</div>